<div class="main">
  <br>
  <h1>Rock, papers, scissors</h1>
  <br>
  <div class="intro">
    <p>Welcome to the new revolution in high end gaming. The rules are simple, just pick one of the
      available options and see if you beat our bleeding edge AI. For the ultimate experience make sure to
      connect your VR device.</p>
  </div>
  <form class="play-btn" action="/play" method="get">
    <input class="btn" type="submit" name="play-btn" value="Play!">
  </form>
</div>
