<div class="main">

  <h2 class="intro">Alright! Pick "rock", "paper" or "scissors"!</h2>

  <form class="play-btn" action="/play" method="post">
    <input class="input-form" type="text" name="option" value="type here...">
    <input class="btn" type="submit" name="sub-btn" value="Submit!">
  </form>
</div>
